body {
    display: block;
    height: 100%;
    background-color: #c8dfe2;
}

div {
    background-color:white;
    float: none;
    border-radius: 15px;
    width: 250px;
    margin: 150px auto;
   
}

.qrcode {
    display: block;
    padding: 15px 10px 15px;
    margin: auto;
    width: 90%;
    border-radius: 23px;
    
}

h1{
    text-align:i center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

p {
    text-align: center;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: gray;
    text-align:center;
    padding-bottom: 30px;
}


.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-align: center;
}